
<div class="profile-box">
  <div class="profile-left">
    <%= image_tag sound.profile.image, class: "profile-profile" %>
  </div>
  <div class="profile-right">
    <div class="profile-name">プロフィール：<%= sound.profile.name %></div>
    <textarea rows="3" class="profile-text"><%= sound.profile.text %></textarea>
  </div>
</div>
<div class= "profile-margin">
</div>
