<main>
  <section class="profile-new">
    <h2>プロフィールを新規作成する</h2>
    <p>プロフィールはいくつでも作成できます。楽器ごとに異なる顔を持ちましょう！</p><br>
    <%= link_to "プロフィール作成方法の説明ページはこちら", howto_path(anchor: "howto-profile") %>

    <%= render partial: "form" %>

  </section>
</main>
