<main>
  <section class="profile-new">
    <h2>プロフィールを新規作成する</h2>
    <p>プロフィールはいくつでも作成できます。楽器ごとに異なる顔を持ちましょう！</p><br>
    <%# _formへ切り出し %>
    <%= render partial: "form", locals: { profile: @profile } %>
  </section>
</main>
