<main>
  <div class="pages-main">
    <h1 class="pages-title">アプリのコンセプト</h1>

    <div class="pages-box">
      <h3 class="pages-topic">音楽はなぜつづかない？</h3>
      <P class="pages-text"></br> 楽器の演奏を趣味にしたいと思う方、楽器店で簡単な楽器を買ったことのある方、もらいものでいい楽器を持っている方は意外と多いように思います。</br></br> けれども、趣味として続けている方は、とても少ないように思います。</br></br> なぜだろうと考えたとき、アウトプットのハードルが非常に高いことが一つの原因ではないでしょうか？</P>
    </div>

    <%= image_tag "pages/cat.jpg", class:"pages-photo"  %>

    <div class="pages-box">
      <h3 class="pages-topic">アウトプットの場をオンラインで！</h3>
      <P class="pages-text"></br> せっかくはじめたのに止めてしまうのはもったいない！</br></br> こんな意識から、気軽にスマートフォンから練習の音源を投稿できるSNSアプリを作成しました。</br></br> どんな分野でも素人が玄人になるもの。</br></br> 間違っていても、下手でもいいのでどんどん投稿し、応援しあえる場を提供できればと思っています。</P>
    </div>

    <%= image_tag "pages/shaaa.jpg", class:"pages-photo"  %>

    <div class="pages-box">
      <p><%= link_to "リンクスへ戻る", "/links", class:"pages-link" %></p>
    </div>
  </div>
</main>