<main>
  <section class="profile-new">
    <h2>退会する</h2>
    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p><br>
    <%= link_to "退会する", user_registration_path, data: {turbo_method: :delete},class: "user-form-submit", id: "submit" %>
  </section>
</main>