<h1>Pages#links</h1>
<p>Find me in app/views/pages/links.html.erb</p>

<p><%= link_to "このアプリ、Solistについて", "/about" %></p>
<p><%= link_to "このアプリの使い方について", "/howto" %></p>
<p><%= link_to "開発者の自己紹介", "/developer" %></p>
<p><%= link_to "トップページへ戻る", root_path %></p>