<%= form_with model: [ sound, Comment.new ], class:"comment-top" do |f| %>
  <%= f.text_area :text, placeholder: "コメントを入力できます", class: "comment-form-text", id: "text" %>
  <%= f.submit "OK", class:"comment-submit", id: "submit" %>
<% end %>

<div id="comments-each">
<%= render partial: "sounds/comments_each", locals: { sound: sound, current_profile: current_profile } %>
</div>
