<body>
    <header>
      <%# -------ヘッダー部分------- %>
      <%= render partial: "profiles/header", locals: { profile: @profile } %>
    </header>

    <nav id="dropdownMenu" class="dropdown-menu">
      <%# -------メニュー部分------- %>
      <%= render partial: "profiles/menu", locals: { profile: @profile, profiles: @profiles } %>
    </nav>

<main>
  <section class="sound-new">
    <h2>編集する</h2>

    <%# _formへ切り出し %>
    <%= render partial: "form", locals: { profile: @sound.profile, sound: @sound } %>

  </section>
</main>
</body>