<body>
    <header>
        <%# -------ヘッダー部分------- %>
        <%= render partial: "profiles/header", locals: { current_profile: @current_profile } %>

        <nav id="dropdownAvatar" class="dropdown-avatar">
          <ul>
            <%# -------アバター部分------- %>
            <%= render partial: "profiles/avatar", locals: { current_profile: @current_profile, profiles: @profiles } %>
          </ul>
        </nav>

        <nav id="dropdownMenu" class="dropdown-menu">
          <ul>
            <%# -------メニュー部分------- %>
            <%= render partial: "profiles/menu", locals: { current_profile: @current_profile, profiles: @profiles } %>
          </ul>
        </nav>

    </header>

<main>
  <section class="sound-new">
    <h2>編集する</h2>

    <%# _formへ切り出し %>
    <%= render partial: "form", locals: {current_profile: @current_profile, sound: @sound } %>

  </section>
</main>
</body>