<main>
  <section class="sound-new">
    <h2>サウンドを新規投稿する</h2>
    <p>間違っていても大丈夫。気軽に音楽をアウトプットしましょう！</p><br>
    <%= link_to "サウンド投稿方法の説明ページはこちら", howto_path(anchor: "howto-sound") %>

    <%= render partial: "form" %>

  </section>

  <div class="record-main">
    <h2>レコーディングスタジオ<h2>
    <p>録音した音声データを投稿できます。</p><br>
    <button id="record-start">Start</button>
    <button id="record-stop">Stop</button>
    <div>
      <audio id="record-audio" controls></audio>
    </div>
  </div>
  
</main>