/* ---------リセット--------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------背景--------- */

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  background-image: url("score.jpg"); /* 背景画像のパス */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(244, 244, 244, 0.7); /* 透明度調整 */
}
/* ----------------------------------------------ヘッダー */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 10px;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left{
  width: 80px;
  height: 60px;
  cursor: pointer;
}
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 10%;
  margin-left: 17px;
  cursor: pointer;
}
.avatar-name{
  font-size: small;
  color: white;
  text-align: center;
}

.header-center .logo {
  font-family: "Arima", system-ui;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

.header-right .menu-icon {
  width: 40px;
  cursor: pointer;
}
/* ----------------------------------------------アラート */

.alert{
  width: 100%;
  font-size: small;
  text-align: center;
  padding: 1rem;
  background-color: white;
  position: sticky;
  top: 80px;
  z-index: 50; 
}
.alert-info{
  background-color: white;
}
.alert-success{
  background-color: rgb(147, 205, 147);
}
.alert-danger{
  background-color: rgb(250, 160, 160);
}
/* -----------------------------------ドロップダウンメニューリスト */

.dropdown-menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  width: 150px;
    /* 重なり調整 */
    z-index: 100; 
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  border-bottom: 1px solid #444;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a {
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown-menu li a:hover {
  background-color: #555;
}
/* ----------------------------------------ドロップダウンアバター */

.dropdown-avatar {
  display: none;
  position: absolute;
  top: 80px;
  left: 10px;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  width: 150px;
}

.dropdown-avatar ul {
  list-style: none;
  padding: 0;
}

.dropdown-avatar li {
  border-bottom: 1px solid #444;
}

.dropdown-avatar li:last-child {
  border-bottom: none;
}

.dropdown-avatar li a {
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown-avatar li a:hover {
  background-color: #555;
}

/* -------------------------------------------------メイン */


main {
  padding: 20px;
}

/* -----------------------------------------------サウンド部品 */
.sounds-box{
  width: 100%;
}
.sound-each{
  width: 400px;
  margin: 20px auto 10px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sound-top{
  height: 90px;
  display: flex;
  margin-bottom: 10px;
}
.sound-image-name{
  width: 90px;
  height: 90px;
}
.sound-profile{
  width: 70px;
  height: 70px;
  border-radius: 10%;
}
.sound-name{
  width: 100%;
  font-size: small;
  text-align: center;
  color: black;
}
.sound-text{
  margin-left: 10px;
  padding: 4px;
  width: 100%;
  height: 90px;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: scroll;
}
.audio{
  height: 40px;
  width: 360px;
  /* 重なり調整 */
  z-index: 1; 
}
.sound-actions{
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
}
.sound-actions-text{
  color: black;
}

/* -------------------------------------------ログインサインアップ */

.user-login,.user-signup{
  width: 100%;
  height: 500px;
  max-width: 400px;
  margin: 20px auto 0;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.user-signup{
  height: 600px;
}
.user-form{
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.user-form-field,.user-form-submit{
  font-size: 30px;
  padding: 0.8rem;
  font-size: 1rem;
}
.user-form-submit{
  background-color: #007bff;
  border-radius: 4px;
  border-color: #fff;
  color: white;
}
/* ---------------------------------------プロフィールフォーム */
.profile-new{
  margin: 30px auto ;
  width: 400px;
  font-size: 15px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile-form{
  height: 200px;
  width: 330px;
  padding: 30px 0 0 20px;
}
.profile-form-file{
  margin: 10px 0 20px;
}
.profile-form-name,.profile-form-text,.profile-form-submit{
  height: 40px;
  width: 100%;
  margin: 10px 0 20px;
  font-size: medium;
  padding: 2px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.profile-form-text{
  height: 60px;
}
.profile-form-submit{
  width: 60%;
  margin: 10px 20% 20px;
  background-color: grey;
  color: white;
}
/* ------------------------------------------サウンドフォーム */
.sound-new{
  margin: 30px auto ;
  width: 400px;
  font-size: 15px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sound-form-file{
  margin: 10px 0 20px;
}
.sound-form-text,.sound-form-submit{
  height: 40px;
  width: 100%;
  margin: 10px 0 20px;
  font-size: medium;
  padding: 2px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.sound-form-text{
  height: 60px;
}
/* -------------------------------------------録音ボタン */
.record-main{
  margin: 30px auto ;
  width: 100%;
  font-size: 15px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.record-inner{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.record-confirm{
  display: none;
}
.record-inner-text{
  font-size: x-large;
  font-weight: 600;
}
/* -------------------------------------------プロフィール部品 */
.profile-wrapper{
  width: 100%;
}

.profile-box{
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}
.profile-left{
  height: 100px;
  width: 100px;
}
.profile-profile{
  width: 100px;
  height: 100px;
  border-radius: 10%;
}
.profile-right{
  width: 100%;
  height: 90px;
}
.profile-name{
  margin-left: 10px;
}
.profile-text{
  margin-left: 10px;
  padding: 4px;
  width: 100%;
  height: 75px;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: scroll;
}
.profile-margin{
  height: 150px;
}
/* ---------------------------------------------コメント部品 */
.comment-hide{
  cursor: pointer;
}
.comment-box{
  width: 350px;
  margin: 0 auto 30px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  display: none;
}
.comment-top{
  display: flex;
  justify-content: space-between;
}
.comment-form-text,.comment-submit{
  height: 40px;
  width: 230px;
  margin: 10px 10px 5px 0;
  font-size: medium;
  padding: 2px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.comment-submit{
  width: 70px;
  background-color: gray;
  color: white;
}
.comment-bottom{
  display: flex;
}
.comment-left{
  width: 60px;
  display: flex;
  flex-direction: column;
}
.comment-avatar{
  width: 25px;
  height: 25px;
  margin: 0 auto;
  border-radius: 10%;
}
.comment-name{
  margin: 0 auto;
  font-size: xx-small;
  color: black;
}
.comment-right{
  width: 100%;
  margin-left: 5px;
}
.comment-text{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: small;
  border: none;
}
.comment-delete{
  width: 45px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: 15px;
  font-size: x-small;
  background-color: gray;
  color: white;
  border-radius: 12%;
}
/* ----------------------------------------------エラー表示 */
.error-alert{
  border: solid 1px gray;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  padding: 10px;
}
.error-message{
  list-style: none;
  color: darkred;
}
/* ----------------------------------アバター画像プレビュー */
.preview {
  width: 60px;
  height: 60px;
  border-radius: 10%;
}
/* ------------------------------------------共通フォント */

.user-login,.user-signup,.sound-text,.error-message,.profile-new,.sound-new,.profile-box,.profile-text,.sound-actions,.sound-actions-text,.comment-form-text,.comment-name,.comment-text,.sound-name,.avatar-name,.alert{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  /* color: red; */
}
.menu-li,.avatar-li{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #fff;
  /* color: red; */
}

/* リンクの下線削除 */
a { color:#0000FF; text-decoration:none; }

/* ---------------------------------マルチデバイス */
@media (max-width: 600px) {
  /* ----------------------------------ヘッダー */
  .header-center .logo {
      font-size: 30px;
  }
  /* ---------------------------サウンド部品 */
  .sound-each{
    width: 100%;
  }
  .audio{
    height: 40px;
    width: 100%;
  }
  .comment-box{
    width: 100%;
  }
  .comment-text{
    width: 90%;
  }
  .comment-delete{
    width: 45px;
    height: 20px;
    margin-top: 20px;
    font-size: small;
  }
  /* -------------------------------------------プロフィール部品 */
.profile-box{
  width: 100%;
}
  /* ---------------------------サウンドフォーム */
  .sound-new{
    width: 100%;
  }
  /* ---------------------------プロフィールフォーム */
  .profile-new{
    width: 100%;
  }
  .profile-form{
    width: 100%;
  }
  /* ------------------------------録音ボタン */
  .record-inner-text{
    font-size: medium;
    font-weight: 300;
  }
}