<%# update view CSSid "avatar-icon" %>
<%# <%= turbo_stream.update "avatar-icon" do %> %>
  <%# <%= image_tag current_profile.image,class: "avatar" %> %>
  <%# <div class="avatar-name"><%= current_profile.name %></div> %>

  <%# <p>turbo check!</p> %>
<%# <% end %> %>
